# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Environment variables
.env
*.env

# Node
node_modules/
frontend/node_modules/

# Build
dist/
frontend/dist/

# Python cache
.pytest_cache/

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db